{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container"><br><br>
    <h1>Produits</h1><br><br>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description | slice(0,50) }} ...</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.stock > 0 %}
                       {{ product.stock }}
                    {% else %}
                        <span class="text-danger"> <i> Stock épuisé </i> </span>
                    {% endif %}
                
                </td>
                <td>
                    <a class = "btn btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-outline-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    <a class = "btn btn-outline-secondary" href="{{ path('app_product_stock_add', {'id': product.id}) }}">Approvisionner</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><i>Aucun produit trouvé</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_product_new') }}">Create new</a>
</div>
{% endblock %}
